.schedule-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex: 1;
  padding-top: 32px;
  padding-bottom: 64px;
}

.schedule-table {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 24px 32px;
  overflow-y: scroll;
  padding-bottom: 150px;
}

.schedule-table tr {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 16px;
}

.schedule-table tbody, .schedule-table thead {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.schedule-table .date {
  width: 5%;
}

.schedule-table .month {
  width: 15%;
}

.schedule-table .time {
  width: 15%;
}

.schedule-table thead .title {
  color: black;
}

.schedule-table .title {
  width: 65%;
  color: white;
  position: relative;
  padding: 8px 24px;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 9999px;
  cursor: pointer;
}
