.app-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 1330px;
  height: 100vh;
  background-color: #f3f3f3;
  gap: 2.5rem;
}

.main-content {
  background-color: white;
  display: flex;
  flex: 1;
  border-radius: 1.875rem;
  margin: 0 1.5rem 0.5rem;
  overflow-x: hidden;
}

/* Loader styling */
.loader {
  display: flex;
  margin: auto;
}
